.tab-title {
  cursor: pointer;

  .separator {
    width: 0;
    transition: all 200ms linear 0ms;
  }

  &.active {
    font-weight: bold;
    color: black;

    .separator {
      border-width: 1px;
      border-color: black;
      width: 100%;
      margin: 0;
    }
  }
}
